.fon{
    background-image: url('../assets/background.jpg');
    
    background-size: 100%;
<<<<<<< HEAD
=======
  }
  .mainpage{
    height: 2000px;
>>>>>>> 9d5c864b754522c9eabf318afdbd36dfe94920a0
  }