@font-face {
    font-family: "20011"; 
    src: url("../fonts/20011.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

.item{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item:hover{
    box-shadow: 0px 0px 5px 0px;
}



.tglink{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "20011";
    margin: 3px;
}
.ava{
    width: 50px;
    height: 50px;
    background-color: rgba(166, 166, 166, 0.6);
    border-radius: 50%;
    border: 1px rgba(0, 0, 0, 0.3) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.info-p{
    font-size: 20px;
    font-family: "20011";
    margin: 5px;
}

.dir{
    overflow-y: scroll;
    scrollbar-width: none;
    height: 110px;
    word-wrap: break-word;
}

.name{
    text-align: center;
    font-size: 25px;
    font-family: "20011";
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

@media (max-width: 760px){
    .item{
        width: 230px;
    }
    .info-p{
        font-size: 16px;
    }
    .tglink{
        font-size: 16px;
    }
    .name{
        font-size: 20px;
    }
    .dir{
        height: 130px;
    }
}
@media (max-width: 525px){
    .item{
        width: calc(100vw - 20px);
        box-sizing: border-box;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }
    .info-p{
        font-size: 18px;
    }
    .tglink{
        font-size: 18px;
    }
    .name{
        font-size: 22px;
    }
    .dir{
        height: 100px;
    }
}