@font-face {
    font-family: "20011"; 
    src: url("../fonts/20011.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

*{
    margin: 0;
    padding: 0;
}

.header{
    position: relative;
    z-index: 1;
    background-color: #3E3E3E;
    height: 100px;
    box-shadow: 0 4px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    max-width: 1440px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 300px;
    margin-left: 50px;
}
.Info{
    display: flex;
    margin-left: auto;
    gap: 40px;
    align-items: center;
    margin-right: 50px;
}
.infoTxt{
    font-size: 24px;
    font-family: '20011';
    width: max-content;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    
}

.settings{
    width: 12%;
    margin-left: 45%;
}