@font-face {
    font-family: "20011"; 
    src: url("../fonts/20011.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

.Field{
    height: 600px;
    scrollbar-width: none;
    width: 526px;
    padding: 40px;
    padding-top: 30px;
    overflow: auto;
    top: 110px;
    z-index: 200;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 25px 0px;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.cross-img{
    width: 30px;
    margin-left: auto;
    cursor: pointer;
}

.text-field{
    font-size: 28px;
    font-family: '20011';
    display: inline-block;
}
input[type='text'], input[type='number']{
    display: block;
    width: 100%;
    height: calc(2.25rem + 14px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    box-sizing: border-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 1%;
}
input[type="radio"]{
    width: 50px;
    height: 20px;
    margin-bottom: 3%;
}
input[type='text']:focus, input[type='number']:focus{
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 5px rgba(158, 158, 158, 0.25);
}
textarea{
    display: block;
    height: 100px;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    box-sizing: border-box;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
    resize: none;
    margin-top: 1%;
}
textarea:focus{
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 5px rgba(158, 158, 158, 0.25);
}
select.reg_filter{
    display: block;
    height: 45px;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
    resize: none;
    margin-top: 1%;
}
select:focus{
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 5px rgba(158, 158, 158, 0.25);
}
.male{
    margin-bottom: 20px;
    margin-top: 20px;
}

.create-btn{
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    margin-top: 3%;
    font-size: 20px;
    background-color: white;
    border-radius: 15px;
    font-family: '20011';
}
@media (max-width: 600px){
    .Field{
        border-radius: 10px;
    }
}
@media (max-width: 425px){
    .Field{
        padding: 20px;
        
    }
}